.product {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    box-shadow: var(--box-shadow-card);
    border-radius: 12px;
    transition: transform var(--transition);
}

.product:hover {
    transform: translateY(-2px);
}

.product:hover .product__link {
    color: var(--pallette-red);
}

.product__img {
    margin: 0 auto 20px;
}

.product__content {
    --offset-y: 20px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.product__title {
    font-size: 20px;
}

.product__link {
    color: inherit;
    transition: color var(--transition);
}

.product__link::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
}

.product__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: auto;
}

.product__price {
    font-weight: 700;
}

.product__description {
    line-height: 1.5;
}

.product__wrap {
    display: flex;
    justify-content: flex-end;
}

.product__btn {
    position: relative;
    padding: 10px;
    color: var(--pallette-white);
    background-color: var(--pallette-dusty-gray);
    border-radius: 5px;
    transition: opacity var(--transition);
}

.product__btn:hover {
    opacity: 0.7;
}
