.header {
    padding: 10px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: -20px;
}

.header__inner > * {
    margin-left: 20px;
    margin-bottom: 20px;
}

.header__start {
    --offset-x: 80px;
    display: flex;
    align-items: center;
}

.header__end {
    --offset-x: 25px;
    display: flex;
    align-items: center;
}

.header__list {
    --offset-x: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -10px;
}

.header__list > * {
    margin-bottom: 10px;
}

.header__link {
    color: inherit;
}

.header__link[aria-current="page"]::before {
    transform-origin: left;
    transform: scaleX(1);
}

.header__btn {
    position: relative;
    padding: 0;
}

.header__icon {
    fill: var(--pallette-tundora);
}

.header__counter {
    position: absolute;
    top: -10px;
    right: -12px;
    padding: 2px 8px;
    border-radius: 5px;
    color: var(--pallette-white);
    font-size: 12px;
    background-color: var(--pallette-red);
}