.accordion {
    max-width: 800px;
}

.accordion__item {
    border-bottom: 1px solid var(--pallette-black);
}

.accordion__item_active .accordion__title {
    color: var(--pallette-red);
}

.accordion__item_active .accordion__title::after {
    opacity: 0;
}

.accordion__title {
    position: relative;
    width: 100%;
    padding: 20px 25px 20px 0;
    text-align: left;
}

.accordion__title::before,
.accordion__title::after {
    position: absolute;
    right: 0;
    top: 50%;
    width: 12px;
    height: 2px;
    background-color: var(--pallette-black);
    transition: opacity var(--transition);
    content: '';
}

.accordion__title::before {
    transform: translate(-50%, -50%);
}

.accordion__title::after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.accordion__content {
    max-height: 0;
    overflow: hidden;
    line-height: 2;
    transition: max-height var(--transition), margin var(--transition);
}